label,
input,
button {
    font-size: 1.25rem;
}
.CalculateScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    form {
        * {
            margin: 2px;
        }
        div.formOption {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &:hover {
                background-color: aquamarine;
            }
        }
    }
    div.result {
        * {
            margin: 2px;
        }
        &:hover {
            background-color: rgb(231, 228, 91);
        }
    }
    div.button {
        button {
            font-size: 1.5rem;
            margin: 10px;
        }
    }
}
