nav {
    background-color: rgb(82, 212, 73);
    position: sticky;
    top: 0px;
    ul {
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
        li {
            padding: 0.5rem 1rem;
            transition: all 0.5s;
            a {
                font-size: 1.25rem;
            }
            &:hover {
                background-color: rgb(198, 232, 88);
            }
        }
    }
}
